<section id="home" class="anchor">
  <div class="flex flex-row flex-wrap justify-content-center w-full">
    <div class="flex flex-column align-items-center gap-2 px-4 py-5" style="max-width: 60rem;">
      <h3 class="text-3xl">Welcome to my portfolio</h3>
      <p class="text-center">I am a passionate programmer with a relentless drive for learning. This dedication allows me to continuously expand my skill set and adapt to the ever-evolving tech landscape. I pride myself on being a jack of all trades, proficient in a variety of programming languages and technologies.</p>
    </div>
  </div>
</section>