.p-menubar-custom.p-menubar {
  background-color: rgba(0, 0, 0, 0.8);
  &, & * {
    margin: 0;
    padding: 0;
  }
  border: none;
  border-radius: 0;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  --border-radius: 0;
  gap: 2rem;
  @media screen and (max-width: 960px) {
    p-menubarsub {
      position: absolute;
      left: 0;
      top: 48px;
      width: 100%;
    }
  }

  .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus > .p-menuitem-content {
    background-color: transparent;
  }
  .p-menuitem-content {
    border-radius: 0;
  }
  @media (max-width: 960px) {
    .p-menubar-button {
      order: -1;
    }
    padding: 0.5rem;
    .p-menubar-root-list {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
  .p-menubar-button {
    color: white;
    :hover {
      color: var(--surface-900);
    }
  }
  z-index: 1000;
}

.p-tabview-custom {
  .p-tabview-nav-link {
    padding: 1rem;
  }
}