<p-menubar [model]="items" styleClass="p-menubar-custom">
  <ng-template pTemplate="start">
    <div class="flex flex-grow-1 gap-4 align-items-center">
      <h3 class="text-white">Jorge Fernández</h3>
      <app-theme-toggler class="hidden md:block"></app-theme-toggler>
    </div>
  </ng-template>
  <ng-template pTemplate="item" let-item let-root="root">
    <div
      class="flex flex-row gap-2 px-3 py-2 align-items-center cursor-pointer text-white hover:bg-primary hover:text-white transition-duration-500 transition-colors border-noround"
      [routerLink]="item.routerLink" [fragment]="item.fragment"
    >
      <i [ngClass]="item.icon"></i>
      <span>{{ item.label }}</span>
    </div>
  </ng-template>
  <ng-template pTemplate="end">
    <app-theme-toggler class="md:hidden"></app-theme-toggler>
  </ng-template>
</p-menubar>
<div class="d-flex flex-column flex-grow-1 main-container">
  <router-outlet></router-outlet>
</div>
<!-- Footer -->
<div class="bg-primary flex flex-column gap-2 align-items-center justify-content-center py-1 px-2">
  <span class="text-white">Copyright © 2024 by Jorge Fernández</span>
</div>